* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-main)
}

a {
    color: unset;
    text-decoration: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.fto__button__gray {
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    color: #ffffff;
    background: var(--color-gray_bright);
    font-family: var(--font-family-manrope);
    font-weight: 500;   
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
.fto__button__gray:hover, 
.fto__button__gray:focus {
    border: 1px solid var(--color-gray_dark);
}
.fto__button__gray:active {
    transition: 0.5s;
    background: var(--color-gray_dark);
}

.fto__button__pink {
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    color: #ffffff;
    background: var(--color-pink_bright);
    font-family: var(--font-family-manrope);
    font-weight: 500;   
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
.fto__button__pink:hover {
    background: var(--color-pink_dark);
}
.fto__button__pink:focus {
    border: 1px solid var(--color-pink_dark);
    background: var(--color-pink_medium);
}
.fto__button__pink:hover:focus {
    background: var(--color-pink_dark);
}
.fto__button__pink:active {
    transition: 0.5s;
    background: var(--color-pink_dark);
}
.fto__button__pink:disabled {
    background: gray;
    border: 0;
}

.fto__pointer {
    cursor: pointer;
}

.fto-red__asterisk {
    color: #ff0000;
}

.subheader_color {
    color: grey;
}

.fto__navbar-bg {
    background: var(--color-bg-navbar);
}

.gradient__bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}

.header__text {
    font-family: var(--font-family-cantata_one);
    color: #fff;
}

.section__padding {
    padding: 1rem 6rem;
}

.section__margin {
    padding: 4rem 6rem;
}

@media screen and (max-width: 1050px) {
    .section__padding {
        padding: 1rem 4rem;
    }
    
    .section__margin {
        padding: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 1rem 2rem;
    }
    
    .section__margin {
        padding: 4rem;
    }
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}