@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

:root {
    --font-family-manrope: 'Manrope', sans-serif;
    --font-family-cantata_one: 'Cantata One',;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-pink: #F133A5;
    --color-pink_bright: #FF0099;
    --color-pink_medium: #D80082;
    --color-pink_dark: #AD0068;

    --color-gray_bright: #777777;
    --color-gray_medium: #474747;
    --color-gray_dark: #222222;

    --color-bg-navbar: #222222;
    --color-bg-main: #040C18;

    --color-bg-navbar_search_border: #042c54;
    --color-bg-navbar_search: #1b1b1b;

    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;

}