.fto__comments {
    font-family: var(--font-family-manrope);
    margin-top: 10px;
    width: 100%;
}

.fto__comments-title {
    font-size: 30px;
    margin-bottom: 5px;
}

.fto__comments-main_form_title {
    margin-top: 10px;
    font-size: 18px;
}

.fto__comments-form {
    display: block;
    flex-direction: column;

    textarea {
        margin-top: 5px;
        width: 100%;
    }

    .fto__comments-form-submit_button_section {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.fto__comments-container {
    .comment {
        display: flex;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .comment-image-container {
        margin-right: 12px;
    }
    
    .comment-image-container img {
        border-radius: 50px;
    }
    
    .comment-right-part {
        width: 100%;
    
        .comment-header {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            color: gray;
        
            .comment-author {
                color: rgb(59, 130, 246);
            }
        }
        
        .comment-text {
            font-size: 18px;
            line-height: 1;
        }
    }

    .comment-actions {
        display: flex;
        font-size: 12px;
        color: lightgray;
        cursor: pointer;
        margin-top: 8px;

        .comment-action {
            margin-right: 8px;
        }
        .comment-action:hover {
            text-decoration: underline;
        }
    }
    
    .replies {
        margin-top: 20px;
    }
}