.fto__page__search {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fto__page__search-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: auto;
}

.fto__page__search-content_search_table {
    width: 100%;
    margin: 1rem 0rem;
    color: white;
    border-spacing: 0;

    tbody {
        td {
            border-bottom: 1px solid white;
        }
    }
}

.fto__page__search-content_search_table hr {
    margin: 0px;
    border-top: 1px solid white;
}


.fto__page__search-content_search_table th,
.fto__page__search-content_search_table td {
    text-align: center;
}

.fto__page__search-content_search_table td {
    font-size: 1em;
}
.fto__page__search-content_search_table td:nth-child(2) {
    text-align:left;
    vertical-align: top;
    padding: 0.5rem;

    overflow: hidden;
    text-overflow: ellipsis; 
    font-family: var(--font-family-manrope);
    font-weight: 900;

    .fto__page__search-content_default_title {
        max-lines: 2;
        font-size: 1em;
        cursor: pointer;
    }

    .fto__page__search-content_english_title {
        color: grey;
        font-size: 0.8em;
    }

    p.fto__page__search-content_synopsis {
        font-weight: 200;
        font-size: 0.8em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;

    }
}
.fto__page__search-content_search_table td:nth-child(1) > img {
    display: block;
    cursor: pointer;
}

.fto__page__search-content_search_table {
    td:nth-child(1) {
        width: 1%;
    }
    td:nth-child(2) {
        width: 59%;
    }
    td:nth-child(3), td:nth-child(4), td:nth-child(5), 
    td:nth-child(6), td:nth-child(7) {
        width: 8%;
    }
}

.fto__page__search-content_page_details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fto__page__search-result_count {
    font-family: var(--font-family-manrope);
    color: white;
    font-size: 1em;
    align-self: flex-start;
}

span.fto__page__search-page_links {
    background-color: var(--color-bg-navbar_search_border);
    align-self: end;
    padding: 2px;
    align-self: flex-start;

    p {
        margin: 5px;
        color: white;
        display: inline;
    }

    a {
        margin: 5px;
        cursor: pointer;
        color:#8383f1;
        text-decoration: underline;
    }

}