.fto__page__episode {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fto__page__episode-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: auto;
    padding-bottom: 0;
}

.fto__page__episode-horizontal_hr {
    margin: 0px;
    border-top: 1px solid white;
    width: 100%;
}

.fto__page__episode-main_content-text {
    font-size: 0.9em;
}

.fto__page__episode-main_content-header {
    font-weight: 900;
}

.fto__page__episode-content_heading_section {
    margin-bottom: 0.5rem;
    width: 100%;

    .fto__page__episode-content_header_title {
        font-family: var(--font-family-manrope);
        font-weight: 800;
    }
    
    .fto__page__episode-content_header_subtitle {
        font-family: var(--font-family-manrope);
        color: white;
        font-weight: 400;
        align-self: flex-start;
    }
    .fto__page__episode-content_header_subtitle:hover {
        text-decoration: underline;
    }
}

.fto__page__episode-main_content {
    display: flex;
    flex-direction: column;
    width: 100%;

    font-family: var(--font-family-manrope);
    color: #fff;
    padding: 1rem;

    .fto__page__episode-main_content--episode_details {
        display: flex;
        flex-direction: row;

        .fto__page__episode-main_content--episode_details-left {
            margin:auto;
        }

        .fto__page__episode-main_content--episode_details-right {
            display: flex;
            flex-direction: column;
            padding: 0rem 1rem;
            width: 100%;
        }

        .fto__page__episode-main_content--episode_details-info_item {
            margin-top: 0.5rem;
        }
    }

    .fto__page__episode-main_content--soundtrack_section {
        


        .fto__page__episode-main_content--soundtrack_list_section {
            margin-top: 1rem;
            padding-bottom: 2rem;
            border-radius: 5px;
            background: var(--color-bg-navbar_search_border);

            .fto__page__episode-main_content-header {
                margin-bottom: 0.25rem;
                padding: 10px 10px 5px;
                font-weight: 900;
            }

            p.fto__page__episode-main_content-no_soundtracks{
                text-align: center;
                padding: 2rem 0rem;
                
                background-color: #000000;
                opacity: 0.3;
            }
    
            .fto__page__episode-main_content--track_item {
                background-color: #1b1b1b;
                padding: 1rem;
                border-bottom: 0.5px solid grey;
    
                .fto__page__episode-main_content--track_item-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .fto__page__episode-main_content--track_item-header_left {
                        flex-grow: 1;
    
                        .fto__page__episode-subheader_color {
                            color: var(--color-pink_medium);
                        }
                    }
                    .fto__page__episode-main_content--track_item-header_left:hover {
                        text-decoration: underline;
                        opacity: 0.9;
                    }
    
                    .fto__page__episode-main_content--track_item-header_right {
                        display: flex;
                        align-items: center;
                        margin-right: 5px;
    
                        .fto__page__episode-main_content--track_item-play_icon {
                            height: 30px;
                            width: 30px;
                            cursor: pointer;
                        }
                        .fto__page__episode-main_content--track_item-play_icon:hover {
                            stroke-width: 15;
                            height: 35px;
                            width: 35px;
                        }
                    }
                }
    
                .fto__page__episode-main_content--track_item-edit_track_button {
                    border-radius: 15px;
                    background-color: #D9D9D9;
                    border: 0px;
                    margin: auto;
                    padding: 5px 15px;
                    align-self: auto; 
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                }
                .fto__page__episode-main_content--track_item-edit_track_button:hover {
                    background-color: #7a7a7a;
                    transition: 0.5s;
                }
    
                .fto__page__episode-main_content--track_item-scene_description {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
    
                    border-radius: 5px ;
                    background-color: #fff;
                    color: #000;
                    font-size: 0.8rem;
    
                    .fto__page__episode-main_content--track_item-scene_description_text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }


        .fto__page__episode-main_content--add_track_section {
            display: flex;
            justify-content: flex-end;
        }
    }
}

/*Edit for slightly smaller tablet or smaller screens*/
@media screen and (max-width: 1050px) {
    .fto__page__episode-main_content {

        .fto__page__episode-main_content--episode_details {
            display: flex;
            flex-direction: column-reverse;
        }

        
        .fto__page__episode-main_content--episode_details-left {
            padding: 1rem 0rem
        }
    }
}

/*Mobile devices or smaller*/
@media screen and (max-width: 550px) {
    
    .fto__page__episode-main_content {
        .fto__page__episode-main_content--soundtrack_section {
            .fto__page__episode-main_content--add_track_section {
                justify-content: center;
            }
        }
    }
}
