.fto__page__submission {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fto__page__submission-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: auto;
    padding-bottom: 0;
    z-index: 1;
}

.fto__page__submission-content_heading_section {
    margin-bottom: 0.5rem;
    width: 100%;

    .fto__page__submission-content_header_title {
        font-family: var(--font-family-manrope);
        font-weight: 800;
    }
    
    .fto__page__submission-content_header_subtitle {
        font-family: var(--font-family-manrope);
        color: white;
        font-weight: 400;
        align-self: flex-start;
    }
    .fto__page__submission-content_header_subtitle:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.fto__page__submission-main_content {
    display: flex;
    flex-direction: column;
    width: 100%;

    font-family: var(--font-family-manrope);
    color: #fff;
    padding: 1rem;

    > form > div {
        width: 100%;
    }

    .fto__page__submission-main_content-input_section {
        margin-bottom: 1rem;

        > label {
            display: block;
            margin-bottom: 5px;
            font-size: 1em;
            color: #fff;
        }
        
        input[type=text],
        input[type=date],
        textarea,
        select  {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1); /* Change the color of the icon */
        }

        .fto__page__submission-main_content-streamPlat_item {
            display: flex;
            flex-direction: row;
            align-items: center; /* Vertically center items */
            margin-bottom: 5px;

            .delete_streamPlat_item {
                cursor: pointer;
            }
        }
    }

    .fto__page__submission-main_content-even_split {
        display: flex;

        .fto__page__submission-main_content-left,
        .fto__page__submission-main_content-right {
            flex: 1;
        }
    }

    .fto__page__submission-main_content-submit_section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fto__page__submission-main_content-add_to_drafts:hover {
            text-decoration: underline;
        }
    }

    .fto__page__submission-main_content-align_end {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        float: right;
    }

    .fto__button__right {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.fto__page__submission-track_item {
    display: flex;
    border-bottom: 1px solid #fff; 
    padding: 0.25rem 0rem; 
    cursor: pointer;

    img {
        height: 100px; 
        width: 100px;
    }
    .fto__page__submission-track_item-text_section {
        display: flex;
        flex-direction: column; 
        align-items:flex-start; 
        margin-left: 5px;

        .fto__page__submission-track_item-text {
            text-align: left;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

}
.fto__page__submission-track_item:hover {
    opacity: 70%;
    transition: 0.5s;
}

/*Mobile devices or smaller*/
@media screen and (max-width: 1050px) {
    
}

/*Mobile devices or smaller*/
@media screen and (max-width: 580px) {
    .fto__page__submission-main_content
    .fto__page__submission-main_content-even_split {
        display: block;
    }
}